html, body
{
background-color:red ;
position: relative;
width:100%;
height:100%;
}

#main
{
    background-color:white;
    position:absolute;
    width:40%;
    height:40%;
    left:30%;
    top:25%;
    border-radius: 25%;
    border-collapse:collapse;
    box-shadow: 5px 5px 5px 5px;
}

#buttons
{
    position:absolute;
    left:44%;
    top:70%;
}

p
{
    position:relative;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans';
    font-size:70px;
    top:50px;
    
}

input[type=button]
{
    border:1px solid black;
    font-family: 'Lucida Sans';
    font-weight:bold;
    font-size:15px;
    border-radius: 25%;
    width:100px;
    height:50px;
    background-color: white;

}

input[type=button]:active
{
    border:1px solid black;
    font-family: 'Lucida Sans';
    font-weight:bold;
    font-size:15px;
    border-radius: 25%;
    width:110px;
    height:60px;
    background-color: white;
  

}


